/* styling for base layout */

.FlexContainer {
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(255, 255, 255);
}

.SideBar {
    height: 100%;
    width: 25vw;
    min-width: 120px;
    max-width: 190px;
    background-color: rgb(41, 227, 134);
}

.WebPage {
    width: 100vw;
    padding-left: 3%;
}

.SideBarList {
    height: 100%;
    padding: 0;
    width: 100%;
    margin-top: 0px;
}

.SideBarList .SideBarItem {
    width: 100%;
    height: 60px;
    /* border: 1px solid white; */
    list-style-type: none;
    margin: 0%;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.SideBarList .SideBarItem:hover {
    cursor: pointer;
    background-color: rgb(81, 208, 81);
}

.SideBarList #active {
    background-color: green;
}

.SideBarItem #icon {
    flex: 30%;
    display: grid;
    place-items: center;
}

.SideBarItem #name {
    flex: 70%;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'sLucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.TopBar {
    background-color: rgb(13, 172, 130);
    padding: 0;
    border-bottom: solid rgb(19, 161, 114);
}
