/* styling for base layout */

.FlexContainer {
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(255, 255, 255);
    position: relative; /* allows background image to take reference to this div */
}

.SideBar {
    height: 100%;
    width: 25vw;
    min-width: 120px;
    max-width: 200px;
    border-right: solid 1px rgb(216, 216, 216);
    background-color: white;
    z-index: 1; /* overlays background image */
}

.WebPage {
    width: 100vw;
    padding-left: 3%;
    z-index: 1; /* overlays background image */
}

.SideBarList {
    height: 100%;
    padding-left: 5%;
    width: 100%;
    margin-top: 8px;
    justify-content: center;
}

.SideBarList .SideBarItem {
    width: 93%;
    height: 55px;
    /* border: 1px solid white; */
    list-style-type: none;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    color: black;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 15px;
}

.SideBarList .SideBarItem:hover {
    cursor: pointer;
    /* background-color: rgb(81, 208, 81); */
    background-color: rgb(207, 253, 207);
}

.SideBarList #active {
    background-color: rgb(104, 241, 104);
}

.SideBarItem #icon {
    flex: 30%;
    display: grid;
    place-items: center;
}

.SideBarItem #name {
    flex: 70%;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'sLucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.TopBar {
    background-color: rgb(13, 172, 130);
    padding: 0;
    border-bottom: solid 2px rgb(19, 161, 114);
}
